body{
    color: #333;
    font-family: Impact, sans-seserif;
    background-color: ivory;
    margin: 0;
}
header{
    background-color: rosybrown;
    padding-top: 20px;
    padding-bottom:20px;
}

h1{
    color: maroon;
    font-size: 20px;
}
h2{
    color: darkred;
    font-size: 20px;
}
.container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.name ul {
    color: brown;
}

.name h1 {
    font-weight: nomal;
    font-size: 27px;
    margin: 0;
}
.name ul {
    font-weight: nomal;
    font-size: 15px;
    margin: 0;
    margin-bottom: 15px;
    list-style-type: none;
}

.cat img {
    border-radius: 50%;
    border-width: 4px;
    border-style: double;
    border-color: white;
}

.plof {
    background-color: lightpink;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.plof p {
    color: gray;
    font-weight: lighter;
    font-size: 15px;
    margin-left: 10%;
}

.skill {
    background-color: lightpink;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 50px;
}

.skill ul {
    color: gray;
    list-style-type: none;
    margin-left: 5%;
    margin-bottom: 15px;
    font-weight: lighter;
    font-size: 17px;
}

.career {
    background-color: lightpink;
    border-radius: 30px;
    margin-left: 5%;
    margin-right: 10%;
    margin-top: 50px;
}

.career p{
    color: gray;
    list-style-type: none;
    margin-left: 9%;
    font-size: 15px;
}
