.container{
    background-image: url("../img/zentaihaikei.jpg");
    color: dimgray;
}

.container header{
    width: 100%;
    background-image: url("../img/haikei5.jpg");
    text-align: center;
}

.container img{
    border-radius: 50%;
    border-style: double;
    border-color: powderblue;
}

h1{
    color: mediumaquamarine;
    font-family: serif;
}

.name ul{
    list-style-type: none;
}

.container h2 {
    color: mediumseagreen;
    font-size: 150%;
    font-family: serif;
}

.name{
    font-size: 15px;
}

.plof tr{
    color: gray;
    font-size: 15px;
}

.career hr.style12 {
	height: 6px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

